@model Blog.Models.Register

@{

    ViewData["Title"] = "Rejestracja";
    Layout = "_Layout-login";

}

<div id="divlogin">
    <ul class="list-unstyled components">
        <li>
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Index">Powrót</a>
        </li>
        <li>
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="LogIn">Zaloguj</a>
        </li>
    </ul>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.ValidationSummary();

     <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" ,@type="password"})
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

      <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <img id="img" class="icon icon_pointer" src="~/lib/icons/unvisible.png" alt="toggle visible" onclick="togglePassword()" />



    <input type="submit" value="Zarejestruj" />
}

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}