@using ChatApp.Models;
@model SettingsGroupsView

@{
    Layout = "_Layout-Settings";
}

<section>
    <h2>Grupy do których należysz</h2>

    <table>
        @foreach(var g in Model.Connectings)
        {
            <tr>
                <td class="room">   <img class="avatar_room" src="~/lib/room_avatar/@g.Roomsender.ImgUrl" alt="room avatar" /> </td>
                <td class="room">@g.Roomsender.Name</td>
                <td class="room"> @Html.ActionLink("Opuść", "LeaveFromGroup", "Settings", null) </td>

            </tr>
        }
      
    </table>
</section>
<br />
<hr />
<br />
<section>
    <div class="flex">
        <h2>Grupy w których jesteś administratorem</h2>
        <input class="ml-2"type="button" value="Utwórz pokój" onclick="location.href='@Url.Action("CreateRoom", "Chat")'" />
       

    </div>

    <table>
        @foreach (var g in Model.ConnectingsWhereAdmin)
        {
            <tr>
                <td class="room">   <img class="avatar_room" src="~/lib/room_avatar/@g.Roomsender.ImgUrl" alt="room avatar" /> </td>
                <td class="room">@g.Roomsender.Name</td>
                <td class="room"> @Html.ActionLink("Edytuj", "EditGroup", "Settings", new { id = @g.Roomsender.Id }, null) </td>

            </tr>
        }

    </table>
</section>